@use "sass:color";
@use "../../styles/variables";
.root {
    .modalbtn {
        font-size: 0.8em;
    }
    .modal,
    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 3;
    }
    .overlay {
        background: rgba(variables.$primary-color-black, 0.8);
    }
    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: variables.$primary-color-light;
        padding: 1rem;
        border-radius: 0.15rem;
        max-width: 90%;
        min-width: 20%;
        max-height: 90%;
        min-height: 20%;
        z-index: 3;
        overflow-y: auto;
        .relative {
            position: relative;

            .close {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 3;
                cursor: pointer;
                transition: ease-in 200ms;
                &:hover {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
