@use "../../styles/variables";
.root {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    .page {
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: inherit;
        background-color: variables.$primary-color-light;
        padding: 1em 2em;
        border-radius: 0.4em;
        h2 {
            font-weight: 500;
            font-size: 1.2em;
        }
        .faqContainer {
            margin-top: 2rem;
        }
        
        .faqItem {
            background-color: #f9f9f9;
            border-radius: 8px;
            padding: 1.5rem;
            margin-bottom: 1rem;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }
        
        .question {
            font-size: 1.25rem;
            color: #333;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        
        .answer {
            font-size: 1rem;
            color: #555;
        }
        
        ul {
            margin-top: 0.5rem;
            list-style-type: disc;
            padding-left: 1.5rem;
        }
        
        li {
            margin-bottom: 0.5rem;
        }
        
        
        
    }
}
