{
    "arrowParens": "avoid",
    "semi": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "singleQuote": false,
    "printWidth": 120,
    "htmlWhitespaceSensitivity": "ignore",
    "tabs": false
}