@use "../../styles/variables";

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    .main {
        flex: 1;
        max-width: variables.$container-width;
        margin: 0 auto;
        width: 100%;
        position: relative;
    }
}
