@use "sass:color";
@use "../../../../styles/variables";

.header {
    background-color: variables.$primary-color-light;
    border-bottom: 1px solid variables.$border-color;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em 0;
        max-width: variables.$container-width;
        margin: 0 auto;
        .logo {
            width: 12em;
            height: 3em;
            object-fit: cover;
            object-position: 50% 50%;
            cursor: pointer;
        }
        .nav a {
            margin: 0 1em;
            color: variables.$text-color-black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .auth {
            font-size: 0.9em;
            color: variables.$text-color-black;
            border: 1px solid variables.$border-color;
            border-radius: 0.5em;
            padding: 0.5em 2em;
            background-color: variables.$primary-color-light;
            transition: 100ms ease-in;
            cursor: pointer;
            &:hover {
                background-color: color.scale(variables.$primary-color-light, $blackness: 10%);
            }
            &:active {
                background-color: color.scale(variables.$primary-color-light, $blackness: 20%);
            }
        }
        .profile {
            position: relative;
            height: 2.2em;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 9.125em;
            padding: 0 1.75em;
            cursor: pointer;
            .login {
                text-align: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                height: 1em;
            }
            .wrapper {
                position: absolute;
                top: 1.5em;
                left: 1.5em;
                height: 0;
                padding: 0;
                opacity: 0;
                transition: opacity 400ms ease, height 200ms ease, padding 200ms ease;
                pointer-events: none;
                cursor: default;
                .options {
                    display: flex;
                    overflow: hidden;
                    flex-direction: column;
                    border: 1px solid variables.$border-color;
                    background-color: variables.$primary-color-light;
                    padding: 1em;
                    gap: 1em;
                    white-space: nowrap;

                    .option {
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            &:hover {
                .wrapper {
                    opacity: 1;
                    height: fit-content;
                    padding: 1em;
                    pointer-events: all;
                }
            }
        }
    }
}
