@use "../../styles/variables";
@use "sass:color";
.root {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    .page {
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: inherit;
        background-color: variables.$primary-color-light;
        padding: 1em 2em;
        border-radius: 0.4em;
        overflow: hidden;

        h2 {
            font-weight: 500;
            font-size: 1.5em;
        }
        .allwrapper {
            display: flex;
            flex-direction: column;
            gap: 1em;
            .rawwrap {
                display: flex;
                gap: 5em;

                .image {
                    font-size: 1em;
                    width: 20em;
                    height: 20em;
                    object-fit: contain;
                    object-position: 50%;
                }
                .columnwrap {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 2em;
                    font-size: 1.5em;
                    gap: 0.6em;
                    .price {
                        font-weight: 600;
                        font-size: 1.5em;
                    }
                    .current {
                        color: color.scale(variables.$primary-color-green, $blackness: 40%);
                    }
                }
            }

            .gridwrap {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 1em;
                column-gap: 5em;
                grid-auto-flow: dense;
            }
            .wrapper {
                display: flex;
                gap: 1em;
                font-size: 1.1em;
                justify-content: space-between;
                .label {
                    font-weight: 450;
                }
                .value {
                    font-weight: 400;
                }
            }
        }
    }
}
