@use "sass:color";
@use "../../../styles/variables";
.root {
    width: 100%;
    background-color: variables.$primary-color-light;
    border: 1px solid color.scale(variables.$border-color, $blackness: 40%);
    border-radius: 2px;
    padding: 0.2em 0.8em;
    transition: 200ms;
    line-height: 1;
    box-sizing: border-box;
    cursor: pointer;
    &:hover {
        border-color: color.scale(variables.$primary-color-green, $blackness: 40%);
    }
    &:focus {
        border-color: color.scale(variables.$primary-color-green, $blackness: 20%);
    }
}
