@use "sass:color";
@use "../../styles/variables";
.root {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid variables.$border-color;
    padding: 1em 2em 0em 2em;

    height: fit-content;

    .image {
        font-size: 1.1em;
        width: 7em;
        height: 7em;
    }
    .description {
        font-size: 1.1em;
        width: 20em;
        padding-left: 0.5em;
        overflow: hidden;
        text-transform: capitalize;
        text-overflow: ellipsis;
        word-break: break-all;
        white-space: nowrap;
    }
    .price {
        font-size: 1.1em;
        width: 10em;
        margin-left: 1em;
    }
    .btnwrapper {
        flex: 0;
        .btn {
            font-size: 0.8em;
            width: fit-content;
        }
        .current {
            padding-left: 1em;
            padding-right: 2em;
            color: color.scale(variables.$primary-color-green, $blackness: 40%);
        }
    }
}
