@use "../../styles/variables";
@use "sass:color";
.root {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    .adminpage {
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: inherit;
        background-color: variables.$primary-color-light;
        padding: 1em 2em;
        border-radius: 0.4em;
        .gridcontainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr); // 2 элемента в строке
            gap: 1em;
            padding: 1em;
        }

        .griditem {
            background-color: variables.$bg-light;
            border: 1px solid variables.$border-color;
            padding: 2em;
            text-align: center;
            font-weight: bold;
            font-size: 1.2rem;
            border-radius: 0.5em;
            transition: background 300ms;

            &:hover {
                background-color: color.scale(variables.$bg-light, $blackness: 20%);
            }
        }
    }
}
