@use "sass:color";
@use "../../styles/variables";
.root {
    display: flex;
    flex-direction: row;
    gap: 1em;
    height: inherit;
    .configurator {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 2;
        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: end;
            &__left {
                display: flex;
                flex-direction: column;
                gap: 0.2em;
                h2 {
                    font-size: 1.5em;
                    font-weight: 500;
                }
                .mandatory {
                    color: variables.$attention-color;
                    font-style: italic;
                }
            }
            &__right {
                display: flex;
                flex-direction: row;
                gap: 1em;
                justify-content: end;
                align-items: end;
                .clearconf {
                    cursor: pointer;
                    text-wrap: nowrap;
                    font-size: 0.9em;
                    &:hover {
                        color: variables.$attention-color;
                    }
                }
            }
        }
        &__body {
            display: flex;
            flex-direction: column;
            gap: 0.15em;
        }
    }
    .aside {
        flex: 1;
        background-color: variables.$primary-color-light;
        border-radius: 0.5em;
        display: flex;
        flex-direction: column;
        padding: 1em;
        align-items: center;
        justify-content: center;
        gap: 1em;
        .wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            .title {
                font-size: 1.2em;
                font-weight: 500;
            }
            .warn {
                padding: 5em 0;
                color: variables.$attention-color;
            }
        }
        .getconfbtn {
            font-size: 1rem;
            width: 16em;
        }
        .modal {
            padding: 0.8em;
            position: relative;
            display: flex;
            flex-direction: column;
            &__header {
                padding-bottom: 1em;
                border-bottom: 1px solid variables.$border-color;
                .title {
                    font-size: 2em;
                    font-weight: 600;
                }
            }
            .hardwares {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 55em;
                .placeholder {
                    padding: 2em;
                    align-self: center;
                }
            }
            .priceinfo {
                font-size: 1.2em;
                font-weight: 600;
                padding: 1em 0;
            }
            .paymenttitle {
                padding: 0.5em 1em;
                font-weight: 500;
                font-size: 1.2em;
                border-top: 1px solid variables.$border-color;
            }
            .payment {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 1em;
                padding: 1em;

                .active {
                    border-color: variables.$primary-color-green !important;
                }
                .paymentitem {
                    display: flex;
                    flex-direction: column;
                    gap: 1em;
                    border: variables.$border-color 1px solid;
                    padding: 1em;
                    transition: border-color 100ms;
                    cursor: pointer;

                    &:hover {
                        border-color: color.scale(variables.$primary-color-green, $blackness: 40%);
                    }
                    .title {
                        font-size: 1.2em;
                        font-weight: 500;
                    }
                    .description {
                        font-weight: 300;
                    }
                }
            }
            .modalbtn {
                margin-top: 1em;
                width: 10em;
            }
        }
    }
}
