@use "sass:math";
$global-font-size: 16px;
$primary-color-green: #33ff33;
$primary-color-light: #fffefe;
$secondary-color-light: #edede9;
$primary-color-black: #202227;
$secondary-color-black: #313338;
$text-color-black: #111d;
$text-color-light: #fffe;
$bg-light: #f5f5f5;
$border-color: #ddd;
$attention-color: #f00d;
$container-width: 1200px;
